.image {
  height: 180px;
  width: 180px;
}

:global .imageContainer {
  background-color: blue;
  width: 180px;
  height: 180px;
}
.imageA{
  height: 300px;
}
:global(.a) .b {
  color: red;
  height: 300px;
}
.remWrapper{
  .asd .gg{
    color: red;
  }
  width: 399px;
  font-size: 30px;
}
