/* [project]/style/url_svg_font/input/font.css [client] (css) */
@font-face {
  font-family: UtooSvgFont;
  src: url("./font.b4e2fe96.svg") format("svg");
}

.icon {
  font-family: UtooSvgFont;
}

.backgroundImg {
  background: url("./bg.img.461d9747.svg") 0 0 / cover no-repeat;
  height: 120px;
}