/target
/examples/*/dist
/examples/*/node_modules
/examples/*/.umi
/examples/*/.umi-production
/client/node_modules
/e2e/*/*/dist
/e2e/fixtures.umi/*/node_modules/.cache
/e2e/fixtures.umi/*/.umi
/e2e/fixtures.umi/*/.umi-production
/tmp
/packages/*/node_modules
/node_modules
/flamegraph.svg
/crates/mako/test/compile/*/dist
/crates/mako/test/compile/auto-code-splitting/node_modules
.DS_Store
/.idea
