/target
/examples/*/dist
/examples/*/node_modules
/examples/*/.umi
/examples/*/.umi-production
/packages/*/node_modules
/node_modules
/flamegraph.svg
/crates/mako/test/compile/*/dist
/crates/mako/test/compile/auto-code-splitting/node_modules
.DS_Store
.idea
**/cypress/videos/
**/cypress/screenshots/
stats.json
