[workspace]
members  = ["crates/*"]
resolver = "2"

[workspace.dependencies]
anyhow            = "1.0.71"
cached            = "0.46.1"
clap              = "4.3.11"
mimalloc-rust     = { version = "=0.2.1" }
oneshot           = "0.1.8"
regex             = "1.9.3"
serde             = "1.0.171"
serde_json        = "1.0.100"
swc_core          = { version = "0.101.4", default-features = false }
tikv-jemallocator = { version = "=0.5.4", features = ["disable_initial_exec_tls"] }

[profile.release]
debug = false
lto   = "thin"
strip = true

# Use the `--profile release-debug` flag to show symbols in release mode.
# e.g. `cargo build --profile release-debug`
[profile.release-debug]
debug    = true
inherits = "release"
strip    = false
