
.foo { 
    color: red;
}

.foo-compose {
    color: black;
    composes: bar from global;
    composes: user from './user.css';
}

:global .bar { 
    color: blue;
}

:global {
    .a {
        color: red;
    }
}

:global(.e) {
    color: red;
}
