[package]
name       = "mako"
version    = "0.1.0"
edition    = "2021"
repository = "https://github.com/umijs/mako"
license    = "MIT"

[[bin]]
name = "mako"
path = "src/main.rs"
test = false

[dependencies]
mako_core  = { path = "../core" }
serde      = { workspace = true }
serde_json = { workspace = true }
cached     = { workspace = true }
swc_core   = { workspace = true, features = ["swc_ecma_quote_macros"] }
miette     = { version = "5.10.0", features = ["fancy"] }
glob-match = "0.2.1"
heck       = "0.4.1"
fixedbitset = "0.4.2"

[target.'cfg(not(target_os = "linux"))'.dependencies]
mimalloc-rust = { workspace = true }

[target.'cfg(all(target_os = "linux", target_env = "gnu", any(target_arch = "x86_64", target_arch = "aarch64")))'.dependencies]
tikv-jemallocator = { workspace = true }

[dev-dependencies]
insta                       = { version = "1.30.0", features = ["yaml"] }
maplit                      = "1.0.2"
testing                     = "0.35.10"
swc_ecma_transforms_testing = "0.136.2"

[features]
profile = ["mako_core/profile"]
