[package]
name = "mako"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/umijs/mako"
license = "MIT"

[[bin]]
name = "mako"
path = "src/main.rs"

[dependencies]
tokio = { version = "1", features = ["full"] }
swc_ecma_ast = { version = "0.104.4", features = ["rkyv-impl"] }
swc_ecma_parser = { version = "0.134.11" }
swc_common = { version = "0.31.11", features = ["concurrent", "sourcemap"] }
swc_ecma_visit = { version = "0.90.4" }
swc_ecma_codegen = { version = "0.139.13" }
swc_ecma_transforms = { version = "0.218.18", features = [
  "module",
  "typescript",
  "react",
  "concurrent",
] }
swc_ecma_utils = { version = "0.117.12" }
swc_atoms = { version = "0.5.6" }
base64 = "0.21.2"
petgraph = "0.6.3"
md5 = "0.7.0"
serde = { workspace = true }
serde_json = { workspace = true }
config = "0.13.3"
nodejs-resolver = "0.0.78"
lightningcss = "1.0.0-alpha.41"
swc_css_ast = "0.137.11"
swc_css_codegen = "0.147.12"
swc_css_modules = "0.25.13"
swc_css_parser = "0.146.12"
swc_css_visit = "0.136.11"
rayon = "1.7.0"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
notify = { version = "5.2.0", features = ["macos_kqueue"] }
futures = "0.3.28"
fs_extra = "1.3.0"
glob = "0.3.1"
clap = { version = "4.3.0", features = ["derive"] }
swc_ecma_minifier = "0.181.21"
swc_error_reporters = "0.15.11"
pathdiff = "0.2.1"
anyhow = "1.0.71"
swc_ecma_preset_env = "0.195.23"
hyper = { version = "0.14.26" , features= ["full"] }
tungstenite = "0.19.0"
tokio-tungstenite = "0.19.0"
hyper-tungstenite = "0.10.0"
hyper-staticfile = "0.9.5"

[dev-dependencies]
insta = { version = "1.29.0", features = ["yaml"] }
